﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<form action="/Home/Create" method="post">

    <div class="form-group">
        <label for="No">Employee No </label>
        <input type="number" name="No"  class="form-control" />
    </div>

    <div class="form-group">
        <label for="Name">Employee Name </label>
        <input type="text" name="Name"  class="form-control" />
    </div>

    <div class="form-group">
        <label for="Address"> Employee Address</label>
        <input type="text" name="Address"  class="form-control" />
       
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save Record</button>
        <button type="reset" class="btn btn-danger" style="margin-left: 50px">Cancel</button>
    
    </div>


</form>
