﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <title>Add Employee </title>
</head>
<body>
    <div class="container">
        <h2>Add New Employee </h2> 
        <div class="col-md-10">
            <form action="/Test/AfterCreate" method="post">

                <div class="form-group">
                    <label for="No">Employee No </label>
                    <input type="number" name="No" value="" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Name">Employee Name </label>
                    <input type="text" name="Name" value="" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Address">Employee Address </label>
                    <input type="text" name="Address" value="" class="form-control" />
                </div>

                <div class="form-group">
                  
                    <button type="submit" class="btn btn-success">Save record </button>
                    <a href="/Test/Show" class="btn btn-primary" style="margin-left:10px" > go to homepage</a>
                    

                </div>

            </form>
        </div>
    
    </div>
</body>
</html>
