﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <title>Edit </title>
</head>
<body>
    <div class="container">
        <h2>Edit Employee  @Model.Name Details  </h2> 
        <div class="col-md-10">
            <form action="/Test/AfterEdit" method="post">

                <div class="form-group">
                    <label for="No">Employee No </label>
                    <input type="hidden" name="No" value="@Model.No" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Name">Employee Name </label>
                    <input type="text" name="Name" value="@Model.Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="Address">Employee Address </label>
                    <input type="text" name="Address" value="@Model.Address" class="form-control" />
                </div>

                <div class="form-group">
                  
                    <button type="submit" class="btn btn-success">Update </button>
                    

                </div>

            </form>
        </div>
    
    </div>
</body>
</html>
